<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            {{>header}}
            <br>
            <img src="img/me.png">
            {{>footer}}
        </body>
    </head>
</html>

