<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
            {{>header}}
            <br>
            <img class="portrait" src="img/me.png">
            <br><a href="mailto:scott.strool@gmail.com?subject=Your weather site">scott.strool@gmail.com</a>
            </div>
            {{>footer}}
        </body>
    </head>
</html>

