<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">   
                {{>header}} 
                <p>{{msg}}</p>
                <p>Enter a city or zipcode to view the latest weather report.</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>

