<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <h1> {{title}} Help</h1>
            <p>{{msg}}</p>
        </body>
    </head>
</html>

